@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito&display=swap');
:root {
    --eightBallContainerSize: 500px;
    --outlineBoxShadowColor1: 0 0 0 2px #fff5;
    --outlineBoxShadowColor2: 0 0 50px rgb(61, 9, 129);
    --outlineBoxShadowColor3: 0 0 450px rgb(187, 54, 213);
    --contentContainerColor: white;
}
body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Gabarito', sans-serif;
    background-color: rgb(41, 41, 41);
    text-align: center;
}
#eightBallContainer {
    position: relative;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
    width: var(--eightBallContainerSize);
    height: var(--eightBallContainerSize);
    box-shadow: var(--outlineBoxShadowColor1),
    var(--outlineBoxShadowColor2),
    var(--outlineBoxShadowColor3);
}
#contentContainer {
    position: relative;
    background-color: var(--contentContainerColor);
    border-radius: 50%;
    width:60%;
    height:60%;
    border: 10px solid rgb(0, 0, 0);
}
#eightBallText {
    font-size: 100px;
}
#input {
    outline: none;
    background: none;
    border-radius: 5px;
    border:2px solid #bb36d5;
    text-align: center;
    color:white;
}
#input::placeholder {
    color:hsl(0, 0%, 100%);
    text-transform: uppercase;
    text-align: center;
}
#input:focus{
    border: 2px solid #d38de0;
    box-shadow: 0 0 0 2px #d38de0,
    0 0 50px #d38de0,
    0 0 450px #bb36d5;
}
.container{
    height: 100vh;
    flex-direction: column;
}
.displayFlex {
    display:flex;
    align-items: center;
    justify-content: center;
}
.buttonStyle {
    padding: 7px 50px 7px 50px;
    border-radius:5px;
    background-color: transparent;
    border: 2px solid #bb36d5;
    color:white;
    font-size: 18px;
}
.buttonStyle:hover {
    box-shadow:  0 0 0 2px #d38de0,
    0 0 50px #d38de0,
    0 0 450px #bb36d5;
    /* font-size:25px;
    transform: rotate(30deg); */
    animation: buttonHoverAnimation 0.5s ease-in-out forwards;
}
.buttonStyle:not(hover) {
    animation: buttonNotHoverAnimation 0.5s ease-in-out forwards;
}
.buttonStyle:active {
    background-color: #834a8d;
}
.shakeAnimation {
    animation: shake 1s ease-in-out infinite;
}
@media (max-width:530px) {
    :root {
        --eightBallContainerSize: 400px;
    }
}
@media (max-width: 530px) and (max-height:505px) {
    :root {
        --eightBallContainerSize: 300px;
    }
}
@media (min-width: 531px) and (max-height: 607px) {
    :root {
        --eightBallContainerSize: 400px;
    }
}
@media (min-width: 531px) and (max-height: 510px) {
    :root {
        --eightBallContainerSize: 300px;
    }
}
@keyframes shake {
    /* Horizontal shake
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    25% {
        transform: translate(-20%, 0%) rotate(-20deg);
    }
    50% {
        transform: translate(20%, 0%) rotate(20deg);
    }
    75% {
        transform: translate(-20%, 0%) rotate(-20deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    */
    /*Vertical shake*/
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    25% {
        transform: translate(0%, -10%) rotate(-20deg);
    }
    50% {
        transform: translate(0%, 10%) rotate(20deg);
    }
    75% {
        transform: translate(0%, -10%) rotate(-20deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(0deg);
    }
}
@keyframes buttonHoverAnimation{
    0% {
        transform: scale(1) rotate(0deg);
        font-size:18px; 
    }
    100% {
        transform: scale(1.1) rotate(10deg);
        font-size: 25px;
    }
}
@keyframes buttonNotHoverAnimation {
    0% {
        transform: scale(1.1) rotate(10deg);
        font-size: 25px;
    }
    100% {
        transform: scale(1) rotate(0deg);
        font-size: 18px;
    }
}