:root {
    --eightBallContainerSize: 500px;
    --outlineBoxShadowColor1: 0 0 0 2px #fff5;
    --outlineBoxShadowColor2: 0 0 50px #3d0982;
    --outlineBoxShadowColor3: 0 0 450px #bb36d5;
    --contentContainerColor: white;
}
body {
    background-color: rgb(41, 41, 41);
    text-align: center;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#eightBallContainer {
    position: relative;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
    width: var(--eightBallContainerSize);
    height: var(--eightBallContainerSize);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--outlineBoxShadowColor1),
    var(--outlineBoxShadowColor2),
    var(--outlineBoxShadowColor3);
}

#contentContainer {
    position: relative;
    background-color: var(--contentContainerColor);
    border-radius: 50%;
    width:60%;
    height:60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(0, 0, 0);
}
#eightBallText {
    font-size: 100px;
}
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}
#input {
    outline: none;
    background: none;
    border-radius: 5px;
    border:2px solid #bb36d5;
    text-align: center;
    color:white;
}
#input::placeholder {
    color:hsl(0, 0%, 100%);
    text-transform: uppercase;
    text-align: center;
}
#input:focus{
    border: 2px solid #d38de0;
    box-shadow: 0 0 0 2px #d38de0,
    0 0 50px #d38de0,
    0 0 450px #bb36d5;
}
@media (max-width:530px) {
    :root {
        --eightBallContainerSize: 400px;
    }
}
@media (max-width: 530px) and (max-height:505px) {
    :root {
        --eightBallContainerSize: 300px;
    }
}
@media (min-width: 531px) and (max-height: 607px) {
    :root {
        --eightBallContainerSize: 400px;
    }
}
@media (min-width: 531px) and (max-height: 510px) {
    :root {
        --eightBallContainerSize: 300px;
    }
}
@keyframes shake {
    /* Horizontal shake
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    25% {
        transform: translate(-20%, 0%) rotate(-20deg);
    }
    50% {
        transform: translate(20%, 0%) rotate(20deg);
    }
    75% {
        transform: translate(-20%, 0%) rotate(-20deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    */
    /*Vertical shake*/
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    25% {
        transform: translate(0%, -10%) rotate(-20deg);
    }
    50% {
        transform: translate(0%, 10%) rotate(20deg);
    }
    75% {
        transform: translate(0%, -10%) rotate(-20deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(0deg);
    }
}
.shakeAnimation {
    animation: shake 1s ease-in-out infinite;
}